@media only screen and (max-width: 728px) {
    .connections {
        display: flex;
        padding-top: 20px;
        padding-left: 15px;
        background-color: #CAE8FF;
    }

    .connection_name {
        font-size: 10px;
    }

    .connection_link {
        font-size: 10px;
    }

    .connections_1 {
        padding-right: 43px;
    }

    .connection {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
    }

    .connection img {
        width: 20px;
        padding-right: 15px;
    }
}