@media only screen and (min-width: 728px) {
    .connections {
        display: flex;
        padding-top: 50px;
        background-color: #CAE8FF;
        padding-left: 50px;
        padding-right: 50px;
    }

    .connections_1 {
        padding-right: 105px;
    }

    .connection {
        display: flex;
        align-items: center;
        padding-bottom: 30px;
    }

    .connection img {
        width: 40px;
        padding-right: 30px;
    }
}