@media only screen and (min-width: 728px) {
    .education h1 {
        font-size: 40px;
        padding-right: 115px;
    }

    .University {
        font-size: 25px;
        font-weight: bold;
        border-bottom: 3px solid #233DFF;
        width: 250px;
    }

    .education {
        padding-top: 30px;
        align-items: center;
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
    }

    .department {
        font-size: 20px;
    }
}