@media only screen and (min-width: 728px) {
    .experinece h1 {
        font-size: 40px;
        padding-right: 100px;
    }

    .team {
        font-size: 25px;
        font-weight: bold;
        border-bottom: 3px solid #233DFF;
        width: 250px;
    }

    .experinece {
        padding-top: 30px;
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
    }

    .role {
        font-size: 20px;
    }

    .explanation {
        font-size: 18px;
    }
}