@media only screen and (min-width: 728px) {
    .logo {
        width: 60px;
        margin-right: auto;
    }

    .menu_bar {
        display: flex;
        padding-left: 10px;
        padding-right: 20px;
        justify-content: right;
    }

    .menu_bar ul {
        display: flex;
    }

    .menu_bar li {
        text-decoration: none;
        list-style: none;
        padding-left: 15px;
    }

    .menu_bar a {
        text-decoration: none;
        color: #050A30;
        font-size: 22px;
    }
}