@media only screen and (max-width: 728px) {
    .experinece h1 {
        font-size: 15px;
        padding-right: 16px;
    }

    .team {
        font-size: 10px;
        font-weight: bold;
        border-bottom: 2px solid #233DFF;
        width: 110px;
    }

    .experinece {
        padding-top: 20px;
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
    }

    .role {
        font-size: 10px;
    }

    .explanation {
        font-size: 10px;
    }
}