@media only screen and (min-width: 728px) {
    .about h1 {
        font-size: 40px;

    }

    .about p {
        font-size: 25px;
    }

    .about {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
}